<% include ../partials/header %>

<nav class="navbar navbar-expand navbar-dark bg-dark d-block " id="second_navbar">
    <div class="container" id="mainNavigation">

		<label for="f-association" class="custom-file-upload float-left">
			<input id="f-association" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info" value="item">
		</label>
        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/e-record/item">Items</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="/e-record/association">Associations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/e-record/item" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create New Item</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
					<input type="hidden" name="item[$class]" value="care.openhealth.mana.CreateItem">
					<input type="hidden" name="item[owner]" value="care.openhealth.mana.User#<%=manaId%>">
                    <div class="form-group">
                        <label for="f-description" class="sr-only">Description</label>
                        <textarea class="form-control" name="item[description]" id="f-description" rows="3"
                            placeholder="Describe your item..."></textarea>
                    </div>
					<% if(files && files.length > 0){ %>
                    <div class="form-group ">
                        <label class="form-check-label d-block" for="f-file">Allow access to file:</label>

                        <select class="selectpicker bg-dark w-100" name="item[link]">
                            <% files.forEach(function(file){ %>
                            <option value="<%= file._id %>"><%= file.filename %></option>
                            <% }) %>
                        </select>
                    </div>
                    <% } %>
                    <div class="form-group ">
                        <label class="form-check-label d-block" for="f-authorized">Allow Access To:</label>

                        <select class="selectpicker bg-dark w-100" data-live-search="true" name="item[role]">
                            
                            <option value="CLIENT">For all clients</option>
							<option value="PROVIDER">For all healthcare service providers</option>
							<option value="INSURANCE">For respective insurance company</option>
                   
                        </select>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<article>

    <div class="container">
      	
		<h4>
			Owned Items
		</h4>
		<% if (items && items.length > 0) { %>
		<div class="card text-white bg-dark mt-3">
			<div class="card-header d-flex justify-content-between" style="background-color: black">
				<div class="col-4 ml-1">Owner</div>
				<div class="col-6">Description</div>
			</div>
			<ul class="list-group list-group-flush">
				<% items.forEach(function(item){ %>
				<a href="/e-record/item/<%=item.itemId %>">
					<% if(item.approved){ %>
					<li class="list-group-item bg-dark border-right border-bottom border-left border-danger  d-flex justify-content-between">
					<% }else{ %>
					<li class="list-group-item bg-dark border-right border-bottom border-left border-success  d-flex justify-content-between">
					<% } %>
						<div class="col-6"><span><%=item.owner.split('#')[1] %></span></div>
						<div class="col-6"><span><%=item.description %></span></div>
					</li>
				</a>
				<% }) %>

			</ul>
		</div>
		<% }else{ %>
		<p>
			No files are publicly shared
		</p>
		<% } %>
		
		<h4>
			Available Items
		</h4>
		<% if (availableItems && availableItems.length > 0) { %>
		<div class="card text-white bg-dark mt-3 mb-3">
			<div class="card-header d-flex justify-content-between" style="background-color: black">
				<div class="col-4 ml-1">Owner</div>
				<div class="col-6">Description</div>
			</div>
			<ul class="list-group list-group-flush">
				<% availableItems.forEach(function(item){ %>

					<a href="/e-record/item/<%=item.itemId %>">
						<li class="list-group-item bg-dark border-right border-bottom border-left border-success  d-flex justify-content-between">
							<div class="col-6"><%=item.owner.split('#')[1] %></div><br>
							<div class="col-6"><%=item.description %></div>
						</li>
				</a>
				<% }) %>
			</ul>
		</div>
		<% }else{ %>
		<p>There are no items available for you.</p>
		<% } %>

    </div>

</article>
<script type="text/javascript" src="js/hyperledger.js"></script>

<% include ../partials/footer %>