<% include ../partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block" id="second_navbar">
    <div class="container" id="mainNavigation">

		<label for="f-association" class="custom-file-upload pull-left">
			<input id="f-association" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info" value="item">
		</label>

        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/e-record/item">Items</a>
                </li>
			 	<li class="nav-item">
					<a class="nav-link" href="/e-record/association">Associations</a>
				</li>
            </ul>
        </div>
		
    </div>
</nav>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/e-recored/association" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Request Data Access</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">


                    <div class="form-group">
                        <label for="f-associationId" class="sr-only">AssociationId</label>
                        <input type="text" class="form-control" name="association[associationId]" id="f-associationId"
                            placeholder="Enter AssociationId" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="association[approved]" value="true"
                            id="f-accessible">
                        <label class="form-check-label" for="f-accessible">
                            Approved?
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="f-link" class="sr-only">Link</label>
                        <input type="text" class="form-control" name="association[link]" id="f-link"
                            placeholder="Enter Link" required>
                    </div>
                    <div class="form-group">
                        <label for="f-message" class="sr-only">Message</label>
                        <textarea class="form-control" name="association[message]" id="f-message" rows="3"
                            placeholder="Enter a message"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="f-from" class="sr-only">From</label>
                        <input type="text" class="form-control" name="association[from]" id="f-from"
                            placeholder="Enter From" required>
                    </div>
					<div class="form-group">
                        <label for="f-to" class="sr-only">To</label>
                        <input type="text" class="form-control" name="association[to]" id="f-to"
                            placeholder="Enter To" required>
                    </div>
                    <!-- TODO: Multiple users can be chosen through checkbox perhaps -->
                    <% if(users && users.length > 0){ %>
                    <div class="form-group ">
                        <label class="form-check-label d-block" for="f-authorized">Request Access To:</label>

                        <select class="selectpicker bg-dark w-100" multiple data-live-search="true" name="authorizedUser[]">
                            <% users.forEach(function(user){ %>
                            <option><%= user.manaId %> : <%= user.role %></option>
                            <% }) %>
                        </select>
                    </div>
                    <% } %>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Request</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<article>

    <div class="container">
      
		<p>THIS PART IMPLEMENTS SOLUTION BASED ON HYPERLEDGER.</p>
		<% if (associations && associations.length > 0) { %>
		<div class="card text-white bg-dark mt-3">
			<div class="card-header d-flex justify-content-between" style="background-color: black">
				<span>FROM</span> <span>TO</span> <span>LINK</span>
			</div>
			<ul class="list-group list-group-flush">
				<% associations.forEach(function(association){ %>
				<a href="e-record/association/<%=association.associationId %>">
					<% if(association.approved){ %>
					<li class="list-group-item bg-dark border-right border-bottom border-left border-danger  d-flex justify-content-between">
					<% }else{ %>
					<li class="list-group-item bg-dark border-right border-bottom border-left border-secondary  d-flex justify-content-between">
					<% } %>
						<span><%=association.from.split('#')[1] %></span> 
						<span><%=association.to.split('#')[1] %></span> 
						<% if(association.link){ %>
						<span class="float-right"><%=association.link %></span>
						<% }else{ %>
						<span class="float-right">NO LINK</span>
						<% } %>
					</li>
				</a>
				<% }) %>

			</ul>
		</div>
		<% } %>
			
			
    </div>

</article>
<script type="text/javascript" src="js/hyperledger.js"></script>

<% include ../partials/footer %>