<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block" id="second_navbar">
    <div class="container" id="mainNavigation">
		<!-- TODO: Implement search form for given files-->
        <!-- <form class="nav-link" method="post" action="http://www.randyconnolly.com/tests/process.php">
            <fieldset>
                <div class="d-flex justify-content-between">
                    <div id="search">
                        <label for="f-search" class="sr-only">Search file</label>
                        <input type="text" name="search" placeholder="Search titles" list="keywords">
                        <input type="submit" value="Search">
                        <datalist id="keywords">
                            <option>Ferris, John MD</option>
                            <option>Medicare</option>
                            <option>Lab Diagnostics Inc</option>
                            <option>bill</option>
                            <option>prescription</option>
                            <option>reimbursement</option>
                        </datalist>
                    </div> -->
                    
                        <label for="f-upload" class="custom-file-upload">
                            <input type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info" value="upload">
                             
                          
                        </label>

                    
                <!-- </div>
            </fieldset>
        </form> -->
    </div>
</nav>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/private" method="POST" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload New File</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="file[accessible]" value="true"
                            id="f-accessible">
                        <label class="form-check-label" for="f-accessible">
                            Accessible?
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="f-filename" class="sr-only">File Name</label>
                        <input type="text" class="form-control" name="file[filename]" id="f-filename"
                            placeholder="Enter file name" required>
                    </div>

                    <div class="form-group custom-file mb-2">
                        <input class="custom-file-input" type="file" name="upload" id="f-file" required>
                        <label class="custom-file-label" for=f-file>Choose File MANDATORY</label>
                    </div>

                    <div class="form-group">
                        <label for="f-note" class="sr-only">Notes</label>
                        <textarea class="form-control" name="file[note]" id="f-note" rows="3"
                            placeholder="Your personal notes"></textarea>
                    </div>

                    <!-- TODO: Multiple users can be chosen through checkbox perhaps -->
                    <% if(users && users.length > 0){ %>
                    <div class="form-group ">
                        <label class="form-check-label d-block" for="f-authorized">Authorize for:</label>

                        <select class="selectpicker bg-dark w-100" multiple data-live-search="true" name="authorizedUser[]">
                            <% users.forEach(function(user){ %>
                            <option><%= user.username %> : <%= user._id %></option>
                            <% }) %>
                        </select>
                    </div>
                    <% } %>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <p>This section stores data files that can be shared among other users in the web application and 
			on the hyperledger fabric network</p>
        <% if (files.length > 0) { %>
        <div class="card text-white bg-dark mt-3">
            <div class="card-header d-flex justify-content-between" style="background-color: black">
                <span>FILENAME</span> <span>DATE</span>
            </div>
            <ul class="list-group list-group-flush">
                <% files.forEach(function(file){ %>
                <a href="/private/<%=file._id%>">
					<% if(file.accessible){ %>
                    <li class="list-group-item bg-dark border-right border-bottom border-left border-danger">
					<% }else{ %>
					<li class="list-group-item bg-dark border-right border-bottom border-left border-secondary">
					<% } %>
                        <span><%=file.filename%></span> 
                        <span class="float-right"><%=file.date.toDateString() %></span>

                    </li>
                </a>
                <% }) %>

            </ul>
        </div>
        <% } %>
    </div>
</article>

<% include partials/footer %>

<!-- TODO: PUT THIS CODE INTO A SEPERATE FILE
    Needed to display the file name which is intended to be uploaded 
    and replace jQuery code with vanilla js-->
<script>
    $('input[type="file"]').on('change', function () {
        //get the file name
        var filename = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(filename);
    })
</script>