<% include partials/header %>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
			
			<!-- Modal Header -->
			<div class="modal-header d-flex justify-content-between">
				<h4 class="modal-title">Edit File</h4>
				<div>
					<form action="/private/<%= file._id %>?_method=DELETE" method="POST">
						<input type="submit" class="btn btn-danger" value="Delete File">
					</form>
				</div>

			</div>
			<form action="/private/<%=file._id%>?_method=PUT" method="POST">


				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-check mb-3 ml-1">
						<% if(file.accessible){ %>
						<input class="form-check-input" type="checkbox" name="file[accessible]" value="true"
							id="f-accessible" checked>
						<% }else{ %>
						<input class="form-check-input" type="checkbox" name="file[accessible]" value="true"
							id="f-accessible">
						<% } %>
						<label class="form-check-label" for="f-accessible">
							Allow access to healthcare providers
						</label>
					</div>
					<div class="form-group">
						<label for="f-filename">File Name</label>
						<input type="text" class="form-control" name="file[filename]" id="f-filename"
							value="<%=file.filename%>">

					</div>
					<!-- <div class="form-group mb-2">
						<label for="f-file">File</label>
						<input type="text" class="form-control" name="file[file]" id="f-file" value="<%=file.path%>"
							readonly>
					</div> -->
					<div class="form-group">
						<label for="f-note">Notes</label>
						<textarea class="form-control" name="file[note]" id="f-note" rows="3"><%=file.note%></textarea>
					</div>
					<!-- TODO: IMPLEMENT ARRAY WITH USER NAME AND ALLOW FOR DELETIONS!!! PREVENT DUPLICATIONS-->
					<% if(file.authorized && file.authorized.length > 0){ %>
					<div class="form-group">
						<p>Remove authorized access to</p>

						<div class="form-check ml-1">
							<% file.authorized.forEach(function(authUser, index){ %>
							<div>
								<input type='checkbox' name="removeAuthorizedUser[]" class='form-check-input'
									id='f-<%=authUser%>' value="<%= authUser%>">
								<label class="form-check-label" for="f-<%=authUser%>"><%=authUser%></label>
							</div>

							<% }) %>
						</div>

					</div>
					<% }else{ %>
					
					<div class="form-group">
						<% if(!file.accessible){ %>
						<p class="text-info">This file is not accessible to other users</p>
						<% } %>
					</div>
					<div class="form-group">
						<% if(file.ETag){ %>
						<p class="text-primary">The ETag of this file is <%= file.ETag %></p>
						<% } %>
					</div>
					
					<% } %>
					<!-- TODO: Multiple users can be chosen through
							checkbox perhaps -->
					<% if(users && users.length > 0){ %>
					<div class="form-group">
						<label class="form-check-label d-block" for="f-authorized">Authorize for</label>
						<select class="selectpicker bg-dark w-100" multiple data-live-search="true" name="authorizedUser[]">
							<% users.forEach(function(user){ %>
							<option><%= user.username %> : <%= user._id %></option>
							<% }) %>
						</select>
					</div>
					<% } %>

				</div>

				<!-- Modal footer -->
				<div class="modal-footer d-flex justify-content-around">
					<button type="submit" class="btn btn-primary">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		
			
        </div>
    </div>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-12">
				<% if(file.accessible){ %>
                	<div class="card mt-3 bg-dark text-white border-danger">
				<% }else{ %>
					<div class="card mt-3 bg-dark text-white border-secondary">
				<% } %>
                    <h5 class="card-header d-flex justify-content-between" style="background: black">
						<form action='/private/<%= file._id %>' method='POST'>
							<input type="submit" class="btn btn-info" value="download">
						</form>
					
						
						<input class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal" value="edit">
					
                    </h5>
                    <div class="card-body">
                        <div class="row d-flex justify-content-around">
                            <div class="pl-2">
                                <h5 class="card-title">
                                    <%=file.filename%>:
								 </h5>
                                <p class="card-text"><%= file.note %></p>
								<div class="text-center">
									 <a href="/private" class="btn btn-primary">go back</a>
								</div>
								
								
								
                            </div>
                           
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<% include partials/footer %>