<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <form class="nav-link" method="post" action="http://www.randyconnolly.com/tests/process.php">
            <fieldset>
                <div class="d-flex justify-content-between">
                    <div id="search">
                        <label for="f-search" class="sr-only">Search file</label>
                        <input type="text" name="search" placeholder="Search titles" list="keywords">
                        <input type="submit" value="Search">
                        <datalist id="keywords">
                            <option>Ferris, John MD</option>
                            <option>Medicare</option>
                            <option>Lab Diagnostics Inc</option>
                            <option>bill</option>
                            <option>prescription</option>
                            <option>reimbursement</option>
                        </datalist>
                    </div>
                    <div id="upload">
                        <label for="f-upload" class="custom-file-upload">
                            <span class="glyphicon glyphicon-cloud-upload"></span> Upload File
                        </label>
                        <input id="f-upload" type="file" />
                        <!-- <label for="f-upload" class="sr-only" class="custom_file_upload"><span
                                class="glyphicon glyphicon-cloud-upload"></span>
                            Upload File</label>
                        <input type=" file" name="file"> -->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</nav>
</div>
</div>
</header>
<article>
    <div class="container">
        <h1>This section stores data not shared on the ethereum network and for personal purposes yet</h1>
        <div id="table">
            <table>
                <thead>
                    <th> </th>
                    <th scope="col">File</th>
                    <th scope="col">Type</th>
                    <th scope="col">Subject</th>
                    <th scope="col">From</th>
                    <th scope="col">Date</th>
                    <th></th>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <% files.forEach(function(file){ %>
                    <tr>
                        <td><input type="checkbox" name="index[0]" value="<%=file.fileName%>>"></td>
                        <td><%=file.fileName%></td>
                        <td><%=file.type%></td>
                        <td><a href="#"><%=file.subject%></a></td>
                        <td><%=file.from%></td>
                        <td><%=file.date%></td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</article>

<% include partials/footer %>