<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <form class="nav-link" method="post" action="http://www.randyconnolly.com/tests/process.php">
            <fieldset>
                <div class="d-flex justify-content-between">
                    <div id="search">
                        <label for="f-search" class="sr-only">Search file</label>
                        <input type="text" name="search" placeholder="Search titles" list="keywords">
                        <input type="submit" value="Search">
                        <datalist id="keywords">
                            <option>Ferris, John MD</option>
                            <option>Medicare</option>
                            <option>Lab Diagnostics Inc</option>
                            <option>bill</option>
                            <option>prescription</option>
                            <option>reimbursement</option>
                        </datalist>
                    </div>
                    <div id="upload">
                        <label for="f-upload" class="custom-file-upload">
                            <button type="button" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-cloud-upload"></span> Edit File
                            </button>
                        </label>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</nav>
</div>
</div>
</header>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/private/<%=file._id%>?_method=PUT" method="POST">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit File</h4>

                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="f-filename">File Name</label>
                        <input type="text" class="form-control" name="file[fileName]" id="f-filename"
                            value="<%=file.fileName%>">

                    </div>
                    <div class="form-group">
                        <label for="f-file">File</label>
                        <input type="text" class="form-control" name="file[file]" id="f-file" value="<%=file.file%>">
                    </div>
                    <div class="form-group">
                        <label for="f-note">File</label>
                        <textarea class="form-control" name="file[note]" id="f-note" rows="3"><%=file.note%></textarea>
                    </div>
                    <div class="form-check">
                        <% if(file.shared){ %>
                        <input class="form-check-input" type="checkbox" name="file[shared]" value="true" id="f-shared"
                            checked>
                        <% }else{ %>
                        <input class="form-check-input" type="checkbox" name="file[shared]" value="true" id="f-shared">
                        <% } %>
                        <label class="form-check-label" for="f-shared">
                            Shared
                        </label>
                    </div>
                    <!-- 
                    <div class="form-group">
                            <label for="f-shared">File</label>
                            <input type="text" class="form-control" name="file[shared]" id="f-shred"
                                placeholder="replace with type FILE">
                        </div> -->

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th><%=file.fileName%></th>
                    <th><a href=" #"><%=file.file%></a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ETHEREUM: </td>
                    <% if(file.shared){ %>
                    <td>THIS FILE IS AVAILABLE ON ETHEREUM</td>
                    <% }else{ %>
                    <td>THIS FILE IS KEPT PRIVATE</td>
                    <% } %>
                </tr>
                <tr>
                    <td>NOTE: </td>
                    <td><%= file.note %></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-right"><a href="/private">GO BACK</a></td>

                </tr>
            </tbody>
        </table>

    </div>
</article>
<% include partials/footer %>